* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0c192c;
    overflow: hidden;
}

.cursor {
    position: relative;
    width: 100px;
    height: 100px;
}

.cursor .circle {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d1008b,#00b8be);
    border-radius: 50%;
}   

.container {
    min-height: 100vh;
    position: relative;
    width:  100%;
    height: 100%;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #00b8be;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #00b8be,
    0 0 100px #00b8be;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even)
{
    background: #d1008b;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #d1008b,
    0 0 100px #d1008b;
}

@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    
    }
    100%
    {
        transform: translate(-10vh) scale(1);
    }
}